p.verso{

    color: blue;
 
}

p.mote{

    color: red;
 
}

a:link, a:active {
	text-decoration:none;
}

a:visited {
	color: purple;
}

a:hover {
	text-decoration: underline;
	color:#000;
	background:#ff0;
}

img {
  border-radius: 50%;
  object-fit: cover;
  width: 200px;
  height: 200px;
}

.poeta {
	border: 4px solid black;
	width: 200px;
	border-radius: 50%;
	height: 200px;
}
table {
	border-collapse: collapse;
	width: 25%;
}
  
th, td {
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}
  
tr:hover {background-color: coral;}th {
	  border: 1px solid;
}